@charset "UTF-8";
/* VARIABLES */
/* Reset/normalize */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&display=swap");
ol, ul {
  list-style: none; }

/* Tipografías */
* {
  font-family: 'Jost', sans-serif; }

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 700; }

body {
  background-image: url("../assets/img/pattern-randomized.svg");
  background-attachment: fixed;
  background-size: cover; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.img {
  box-shadow: 1px 1px 10px gray, 1px 1px 10px gray;
  border-radius: 3px; }

.pageTitle {
  font-size: 2.7rem;
  text-align: center;
  padding: 20px;
  margin: 30px 0px;
  background: #B91646;
  color: whitesmoke;
  text-shadow: 3px 3px 5px black;
  box-shadow: 3px 3px 10px gray; }

.pages--h2 {
  text-align: center;
  margin-top: 30px; }

.style--h2 {
  font-size: 3.5rem;
  color: #B91646;
  text-shadow: 1px 1px 10px #7e232398;
  padding: 1rem; }

/* Iconos redes sociales - Clase de bootstrap*/
.bi {
  color: #99a271;
  font-size: 30px; }

/* Estilos del HEADER */
header {
  position: sticky;
  top: 0px;
  z-index: 10; }

.navbar-brand {
  padding: 0px;
  height: 59px; }
  .navbar-brand img {
    height: inherit; }

.backStyle {
  background: #2a262b;
  background: linear-gradient(0deg, #2a262b 0%, #19171a 100%);
  box-shadow: 0px 0px 10px grey; }

.nav-link {
  font-size: 18px;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-shadow: 1px 1px 5px #E9322E; }
  .nav-link:focus, .nav-link:hover {
    color: #E9322E; }
  .nav-link:focus:after, .nav-link:hover:after {
    width: 100%;
    left: 0%; }
  .nav-link:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #da251d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left; }

/* Estilos de los BOTONES */
.info {
  font-size: 1rem;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #B91646;
  color: #B91646; }
  .info:hover {
    color: #fff; }
  .info:hover:after {
    height: 100%; }
  .info:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #B91646; }

.map {
  border-radius: 12px;
  background: linear-gradient(225deg, #cacaca, #f0f0f0);
  box-shadow: -17px 17px 33px #afafaf, 17px -17px 33px #ffffff;
  margin: 0px 20px 50px 20px;
  box-sizing: border-box; }

.map--responsive {
  height: 450px;
  margin: 30px; }
  .map--responsive iframe {
    height: 100%;
    width: 100%;
    margin: 0 auto; }

/* Estilos de la página de PRODUCTOS */
.slogan {
  margin: 50px; }
  .slogan__text {
    /* margin-bottom: 40px; */
    font-size: 1rem; }

.content {
  display: flex;
  justify-content: center;
  align-items: center; }
  .content__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "img1 text1" "text2 img2" "img3 text3" "text4 img4";
    padding: 20px;
    align-items: center; }
    .content__grid article {
      width: 30rem; }
    .content__grid img {
      width: 100%;
      display: block; }
  .content__img1 {
    grid-area: img1; }
  .content__text1 {
    grid-area: text1; }
  .content__img2 {
    grid-area: img2; }
  .content__text2 {
    grid-area: text2; }
  .content__img3 {
    grid-area: img3; }
  .content__text3 {
    grid-area: text3; }
  .content__img4 {
    grid-area: img4; }
  .content__text4 {
    grid-area: text4; }
  .content__text__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; }
    .content__text__card h3 {
      font-size: 2rem;
      padding: 3px; }
    .content__text__card p {
      padding: 15px;
      margin: 0 10%;
      text-align: justify; }
  .content__map {
    flex-direction: column;
    align-items: center; }
    .content__map h2 {
      font-size: 3rem;
      padding: 1rem;
      margin-top: 10px;
      margin-bottom: 10px; }

.carousel-item h5 {
  color: black; }

.carousel-item p {
  color: black; }

.hero {
  background: rgba(0, 0, 0, 0.4) url("../assets/img/mtm-hero.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 75px);
  background-position: top; }
  .hero__container {
    color: white;
    border: solid;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.4) url("");
    background-blend-mode: darken; }
  .hero--h1 {
    padding: 0;
    margin: 0; }
  .hero--p {
    padding: 0;
    margin: 0; }

:root {
  --surface-color: #fff;
  --curve: 40; }

* {
  box-sizing: border-box; }

body {
  background-color: #fef8f8; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 400px;
  gap: 2rem;
  padding: 0;
  list-style-type: none; }

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none; }

.card__image {
  width: 100%;
  height: auto; }

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out; }

.card:hover .card__overlay {
  transform: translateY(0); }

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out; }

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1; }

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z"); }

.card:hover .card__header {
  transform: translateY(0); }

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E; }

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size: .8em;
  color: #D7BDCA; }

.card__status {
  font-size: .8em;
  color: #D7BDCA; }

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; }

i {
  color: #45433E;
  font-size: 1.5rem; }

.pages__service--izq {
  display: flex;
  justify-content: flex-start;
  /* background-color: #EF476F; */ }

.pages__service--der {
  display: flex;
  justify-content: flex-end;
  /* background-color: #118AB2; */ }

.pages__service__card {
  width: 700px;
  max-width: 80%;
  padding: 20px;
  margin: 0 50px; }
  .pages__service__card img {
    width: 100%; }

.pages__empresa {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 30px 0; }
  .pages__empresa img {
    height: 100%; }
  .pages__empresa__container {
    display: flex;
    align-items: center; }
    .pages__empresa__container p {
      padding: 1rem; }

.pages__contacto__form {
  padding: 30px;
  grid-area: formulario; }
  .pages__contacto__form__block {
    padding: 5px; }
  .pages__contacto__form label {
    padding: 5px;
    /* border: solid 1px brown; */ }
  .pages__contacto__form input {
    margin: 5px;
    /* border: solid 1px green; */
    font-size: 1rem; }
  .pages__contacto__form select {
    font-size: 1rem; }
  .pages__contacto__form textarea {
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 10px; }
  .pages__contacto__form fieldset {
    border: 1px solid black;
    padding: 30px; }
    .pages__contacto__form fieldset legend {
      padding: 10px;
      /* font-size: 3rem; */
      font-weight: 700;
      text-transform: uppercase;
      text-align: center; }

.pages__contacto__data h2 {
  text-align: center; }

.pages__contacto__data ul {
  padding: 10px;
  text-align: center; }

@media (max-width: 1100px) {
  .content__grid article {
    width: 100%; } }

/* TABLET GRANDE */
@media only screen and (min-width: 993px) and (max-width: 1220px) {
  .content {
    grid-template-columns: 0.5fr 5fr 0.5fr; }
  .content__grid article {
    height: -webkit-fill-available; }
  .content__grid img {
    height: 100%;
    object-fit: cover; } }

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .content {
    grid-template-columns: 20px auto 20px; }
  .content__grid article {
    height: -webkit-fill-available; }
  .content__grid img {
    height: 100%;
    object-fit: cover; } }

/*TABLET CHICA*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .content {
    grid-template-columns: 5px auto 5px; }
  .content__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "img1" "text1" "img2" "text2" "img3" "text3"  "img4" "text4"; } }
