@charset "UTF-8";
/* VARIABLES */
/* Reset/normalize */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&display=swap");
ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #B91646; }

.disclaimer {
  display: none; }

/* Tipografías */
* {
  font-family: 'Jost', sans-serif; }

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 700; }

body {
  background-image: url("../assets/img/pattern-randomized.svg");
  background-attachment: fixed;
  background-size: cover; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.img {
  box-shadow: 1px 1px 10px gray, 1px 1px 10px gray;
  border-radius: 3px; }

.pageTitle {
  font-size: 2.7rem;
  text-align: center;
  padding: 20px;
  margin: 30px 0px;
  background: #B91646;
  color: whitesmoke;
  text-shadow: 3px 3px 5px black;
  box-shadow: 3px 3px 10px gray; }

.pages--h2 {
  text-align: center;
  margin-top: 30px; }

.style--h2 {
  font-size: 2.5rem;
  color: #B91646;
  text-shadow: 1px 1px 10px #7e232398;
  padding: 1rem;
  text-align: center; }

.animationOverflow {
  overflow: hidden; }

.highlight {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  grid-auto-flow: column;
  justify-content: center;
  background-color: #45433E;
  padding: 3rem 10px;
  margin: 50px 0; }
  .highlight__article {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; }
    .highlight__article__icon {
      color: #B91646;
      font-size: 50px; }
    .highlight__article__title {
      color: #FFFFFF; }
    .highlight__article__description {
      color: #FFFFFF;
      text-align: justify;
      height: auto; }

@media only screen and (min-width: 650px) and (max-width: 1250px) {
  .highlight {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 1fr); } }

@media only screen and (min-width: 450px) and (max-width: 649px) {
  .highlight {
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: repeat(4, 1fr); } }

@media only screen and (min-width: 320px) and (max-width: 449px) {
  .highlight {
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(4, 1fr);
    padding: 0; } }

/* Estilos del HEADER */
header {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 10; }

.navbar-brand {
  padding: 0px;
  height: 59px; }
  .navbar-brand img {
    height: inherit; }

.backStyle {
  background: #2a262b;
  background: linear-gradient(0deg, #2a262b 0%, #19171a 100%);
  box-shadow: 0px 0px 10px grey; }

.nav-link {
  font-size: 18px;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-shadow: 1px 1px 5px #E9322E; }
  .nav-link:focus, .nav-link:hover {
    color: #E9322E; }
  .nav-link:focus:after, .nav-link:hover:after {
    width: 100%;
    left: 0%; }
  .nav-link:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #da251d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left; }

/* Iconos redes sociales - Clase de bootstrap*/
.social-icons {
  font-size: 30px; }

/* Estilos de los BOTONES */
.info {
  font-size: 1rem;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #ffffff;
  overflow: hidden;
  border: 2px solid #B91646;
  color: #B91646; }
  .info:hover {
    color: #fff; }
  .info:hover:after {
    height: 100%; }
  .info:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #B91646; }

.scrolldown {
  --color: #B91646;
  --sizeX: 30px;
  --sizeY: 50px;
  position: absolute;
  bottom: 20px;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(--sizeX/2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer; }
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #b916476c; }

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px; }
  40% {
    opacity: 1;
    height: 10px; }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0; }
  100% {
    height: 3px;
    opacity: 0; } }

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg); }
  .chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate; }
  .chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms; }

@keyframes pulse54012 {
  from {
    opacity: 0; }
  to {
    opacity: 0.5; } }

.map {
  border-radius: 12px;
  background: linear-gradient(225deg, #cacaca, #f0f0f0);
  box-shadow: -17px 17px 33px #afafaf, 17px -17px 33px #ffffff;
  margin: 0px 20px 50px 20px;
  box-sizing: border-box; }

.map--responsive {
  height: 450px;
  margin: 30px; }
  .map--responsive iframe {
    height: 100%;
    width: 100%;
    margin: 0 auto; }

/* Estilos de la página de PRODUCTOS */
.slogan {
  margin: 50px; }
  .slogan__text {
    /* margin-bottom: 40px; */
    font-size: 1rem; }

.content {
  display: flex;
  justify-content: center;
  align-items: center; }
  .content__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "img1 text1" "text2 img2" "img3 text3" "text4 img4";
    padding: 20px;
    align-items: center; }
    .content__grid article {
      width: 30rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .content__grid img {
      width: 100%;
      display: block; }
  .content__img1 {
    grid-area: img1; }
  .content__text1 {
    grid-area: text1; }
  .content__img2 {
    grid-area: img2; }
  .content__text2 {
    grid-area: text2; }
  .content__img3 {
    grid-area: img3; }
  .content__text3 {
    grid-area: text3; }
  .content__img4 {
    grid-area: img4; }
  .content__text4 {
    grid-area: text4; }
  .content__text__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; }
    .content__text__card h3 {
      font-size: 2rem;
      padding: 5px;
      text-align: center; }
    .content__text__card p {
      padding: 15px;
      margin: 0 10%;
      text-align: justify; }
  .content__map {
    flex-direction: column;
    align-items: center; }
    .content__map h2 {
      font-size: 3rem;
      padding: 1rem;
      margin-top: 10px;
      margin-bottom: 10px; }

.carousel-item h5 {
  color: black; }

.carousel-item p {
  color: black; }

.hero {
  background: rgba(0, 0, 0, 0.4) url("../assets/img/mtm-hero.webp");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 75px);
  width: 100%;
  background-position: top;
  flex-direction: column;
  position: relative;
  top: 0; }
  .hero__container {
    color: white;
    border: solid;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.4) url("");
    background-blend-mode: darken; }
  .hero--h1 {
    padding: 0;
    margin: 0; }
  .hero--p {
    padding: 0;
    margin: 0; }

.pages__prod {
  margin-bottom: 5rem; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-template-rows: 400px;
  gap: 2rem;
  justify-content: center;
  padding: 0;
  list-style-type: none; }

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none; }
  .card__image {
    width: 100%;
    height: auto; }
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 40px;
    background-color: #45433E;
    transform: translateY(100%);
    transition: .2s ease-in-out; }
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2rem 2rem 1.5rem;
    border-radius: 40px 0 0 0;
    background-color: #45433E;
    transform: translateY(-100%);
    transition: .2s ease-in-out; }
    .card__header--text {
      text-align: center; }
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1; }
    .card__arc path {
      fill: #45433E;
      d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z"); }
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #FFFFFF;
    text-align: center; }
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-size: .8em;
    color: #d3d3d3; }
  .card__description {
    padding: 0 3rem 2rem;
    margin: 0;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align: justify; }

.card:hover .card__overlay {
  transform: translateY(0); }

.card:hover .card__header {
  transform: translateY(0); }

.i-container {
  width: 1.5rem; }
  .i-container i {
    color: #FFFFFF;
    font-size: 1.5rem; }

.pages__service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  .pages__service__card {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
    box-shadow: 10px 10px 10px #959794; }
    .pages__service__card--container {
      color: #FFFFFF;
      background-color: #45433E;
      position: relative;
      padding: 20px;
      margin: 30px; }
    .pages__service__card--der {
      align-items: flex-end; }
    .pages__service__card__title {
      text-align: center;
      text-transform: uppercase; }
    .pages__service__card__text {
      text-align: center; }

#chapaDecorativa {
  background-image: url(../assets/img/corte-laser-01.webp); }

#cortePlegado {
  background-image: url(../assets/img/plegado-01.webp); }

#fabricacion {
  background-image: url(../assets/img/pergolas/pergola-01.webp); }

.pages__empresa {
  overflow: hidden; }
  .pages__empresa__article {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 30px 0; }
    .pages__empresa__article__container {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 20px; }
      .pages__empresa__article__container p {
        padding: 4rem;
        margin: 0;
        text-align: justify; }
      .pages__empresa__article__container img {
        height: 100%;
        padding: 0; }

.pages__contacto__form {
  padding: 30px; }
  .pages__contacto__form__block {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pages__contacto__form__block__input {
      width: 70%;
      border: 1px solid black;
      border-radius: 10px;
      padding: 0.5rem 1rem;
      text-align: center; }
      .pages__contacto__form__block__input:focus {
        background-color: #b9164785; }
  .pages__contacto__form label {
    padding: 0.5rem;
    font-weight: bold;
    color: #B91646;
    font-size: 1.3rem;
    /* border: solid 1px brown; */ }
  .pages__contacto__form input {
    margin: 5px;
    /* border: solid 1px green; */
    font-size: 1rem; }
  .pages__contacto__form select {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: .3rem .5rem; }
    .pages__contacto__form select::-ms-expand {
      background-color: red; }
  .pages__contacto__form textarea {
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    resize: none;
    height: 200px; }
  .pages__contacto__form fieldset {
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    border-radius: 10px; }
    .pages__contacto__form fieldset legend {
      padding: 10px;
      /* font-size: 3rem; */
      font-weight: 700;
      text-transform: uppercase;
      text-align: center; }
  .pages__contacto__form p {
    font-weight: bold;
    color: #B91646;
    font-size: 1.3rem; }
  .pages__contacto__form__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .pages__contacto__form__buttons input {
      border: 1px solid black;
      border-radius: 10px;
      padding: .5rem 1rem; }
      .pages__contacto__form__buttons input:hover {
        background-color: #b9164785; }

.pages__contacto__data h2 {
  text-align: center; }

.pages__contacto__data ul {
  padding: 10px;
  text-align: center; }

.error404 {
  text-align: center; }
  .error404 p {
    padding: 10px; }
  .error404 div {
    padding: 10px; }
    .error404 div .info {
      text-transform: uppercase; }

@media (max-width: 1100px) {
  .content__grid article {
    width: 100%; } }

@media only screen and (min-width: 992px) and (max-width: 1220px) {
  .content {
    grid-template-columns: 0.5fr 5fr 0.5fr; }
  .content__grid article {
    height: -webkit-fill-available; }
  .content__grid img {
    height: 100%;
    object-fit: cover; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content {
    grid-template-columns: 20px auto 20px; }
  .content__grid article {
    height: -webkit-fill-available; }
  .content__grid img {
    height: 100%;
    object-fit: cover; }
  .pages__empresa__article__container p {
    padding: 1rem; }
  .pages__service__card {
    justify-content: flex-end;
    align-items: center; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .content {
    grid-template-columns: 5px auto 5px; }
  .content__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "img1" "text1" "img2" "text2" "img3" "text3" "img4" "text4"; }
  .content__text__card p {
    margin: 0;
    padding: 0 0 15px 0; }
  .content__grid img {
    margin-top: 30px; }
  .pages__empresa__article__container img {
    order: -1; }
  .pages__empresa__article__container p {
    padding: 1rem 0; }
  .pages__service__card {
    justify-content: flex-end;
    align-items: center; }
  .pages__contacto__form__block__input {
    width: 100%; } }

@media only screen and (max-width: 575px) {
  .content {
    grid-template-columns: 5px auto 5px; }
  .content__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "img1" "text1" "img2" "text2" "img3" "text3" "img4" "text4"; }
  .content__text__card p {
    margin: 0;
    padding: 0 0 15px 0; }
  .content__grid img {
    margin-top: 30px; }
  .pages__empresa__article {
    padding: 0; }
    .pages__empresa__article__container img {
      order: -1; }
    .pages__empresa__article__container p {
      padding: 1rem 0 0; }
  .footer {
    justify-content: center !important;
    flex-direction: column-reverse; }
  .style--h2 {
    font-size: 2rem; }
  .pageTitle {
    font-size: 2.2rem; }
  .cards {
    grid-template-columns: repeat(auto-fit, 95%); }
  .pages__service__card {
    justify-content: flex-end;
    align-items: center; }
    .pages__service__card--container {
      margin: 5px; }
  .pages__service {
    padding: 5px; }
  .pages__contacto__form__block__input {
    width: 100%; }
  .pages__contacto__form {
    padding: 30px 10px; } }
