/* VARIABLES */
// $color1: #ED2839;
// $color2: #513D3F;
// $color3: #DFDED9;

$color-main: #ED2839;

// $color1: #EF476F;
// $color2: #FFBA49;
// $color3: #20A39E;
// $color4: #23001E;
// $color5: #DFDED9;
// $color-body: #FEEFDD;


$color1: #B91646;
$color2: #FFBA49;
$color3: #20A39E;
$color4: #23001E;
$color5: #DFD8CA;
$color-body: #FEEFDD;

// $color-titles: #9F87AF;
// $color-titles: #4D6CFA;
$color-titles: #B91646;

$colorText: #191D20;

$color-card: #98c1d9;