/* VARIABLES */
$color-main: #E9322E;

$color1: #E9322E;
$color2: #19171A;
$color3: #45433E;
$color4: #959794;
$color5: #FFFFFF;
$color6: #B91646;
$color-body: #FEEFDD;


$color-titles: #B91646;

$colorText: #191D20;

$color-card: #98c1d9;