/* Estilos del HEADER */
header {
  position: sticky;
  top: 0px;
  z-index: 10;
}

.navbar-brand img {
  height: 75px;
}

.backStyle {
  // background-color: $color2;
  // background: rgb(187, 195, 153);
  // background: linear-gradient(270deg, rgba(187, 195, 153, 1) 0%, rgba(209, 212, 194, 1) 43%, rgba(228, 235, 192, 1) 100%);

  background: rgb(42, 38, 43);
  background: linear-gradient(0deg, rgba(42, 38, 43, 1) 0%, rgba(25, 23, 26, 1) 100%);
  box-shadow: 0px 0px 10px grey;
}

.nav-link {
  font-size: 18px;
  // color: #364047;
  color: $color5;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  // text-shadow: 1px 1px 5px blanchedalmond;
  text-shadow: 1px 1px 5px $color1;

  &:focus,
  &:hover {
    // color: #da251d;
    color: $color1;
  }

  &:focus:after,
  &:hover:after {
    width: 100%;
    left: 0%;
  }

  &:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #da251d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
}