.pages__contacto__form {
    padding: 30px;
    grid-area: formulario;
}

.pages__contacto__form__block {
    padding: 5px;
}

.pages__contacto__form label {
    padding: 5px;
    /* border: solid 1px brown; */
}

.pages__contacto__form input {
    margin: 5px;
    /* border: solid 1px green; */
    font-size: 1rem;
}

.pages__contacto__form select {
    font-size: 1rem;
}

.pages__contacto__form textarea {
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 10px;
}

.pages__contacto__form fieldset {
    border: 1px solid black;
    padding: 30px;
}

.pages__contacto__form fieldset legend {
    padding: 10px;
    /* font-size: 3rem; */
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.pages__contacto__data h2 {
    text-align: center;
}

.pages__contacto__data ul {
    padding: 10px;
    text-align: center;
}