.pages__empresa {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 30px 0;

    img {
        height: 100%;
    }

    &__container {
        display: flex;
        align-items: center;

        p {
            padding: 1rem;
        }
    }
}