.pages__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &__card {
        height: 500px;
        // width: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px 0;
        box-shadow: 10px 10px 10px #959794;

        &--container {
            color: $color5;
            background-color: $color3;
            position: relative;
            padding: 20px;
            margin: 30px;
        }

        &--der {
            align-items: flex-end;
        }

        &__title {
            text-align: center;
            text-transform: uppercase;
        }

        &__text {
            text-align: center;
        }

       
    }
}

#chapaDecorativa {
    background-image: url(../assets/img/corte-laser-01.webp);
}

#cortePlegado {
    background-image: url(../assets/img/plegado-01.webp);
}

#fabricacion {
    background-image: url(../assets/img/pergolas/pergola-01.webp);
}